<div class="continer">
  <header  class="jumbotron">
    <h1>Angular 6 Tutorial</h1>
  </header>
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="dataBinding">Data Binding</a>
        </li>
        <li class="list-group-item">
          <a routerLink="interpolation">Interpolation</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
       <router-outlet></router-outlet>
    </div>
  </div>
</div>